body {
}

#homeContent {
    width: 95%;
    margin: auto;
    
}

#tabIN {
    width: 95%;
    margin: auto;
}

/* Add an active class to highlight the current page */
.topnav a#hylLogin {
    background-color: #04AA6D;
    color: white;
}

/* Add an active class to highlight the current page */
.topnav a#LoginStatus1 {
    background-color: #04AA6D;
    color: white;
}

